textarea {
	width: 100%;
}

.comment {
	color: darkgrey;
	font-size: small;
	font-style: italic;
	margin-bottom: 20px;
	padding: 6px 4px;
}

.short {
	width: 50%;
}

/* Code style for generation page */ 
#code {
	color: yellow;
	background: black;
	font-family: monospace;
	padding: 10px 0;
}

/* Header h1 */
header > h1 {
	margin-top: 40px;
	padding-bottom: 10px;
}

/* Tabs */
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	cursor: pointer;
	padding: 0px 21px ;
	height: 31px;
	line-height: 31px;
	border: 1px solid #ccc;
	border-left: none;
	font-weight: bold;
	background: #EEEEEE;
	overflow: hidden;
	position: relative;
}
ul.tabs li:hover {
	background: #CCCCCC;
}	
ul.tabs li.active{
	background: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
.tab_container {
	border: 1px solid #ccc;
	border-top: none;
	clear: both;
	float: left; 
	width: 100%;
	background: #FFFFFF;
	margin-bottom:20px;
}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
	display: none;
}

.danger {
	background-color: maroon;
	color: white;
}
.danger h1, .danger h2, .danger h3, 
.danger h4, .danger h5, .danger h6 {
	color: white;	
}

