.new-section .section-begin {
	font-size: 110%;
	font-weight: bold;
}

.new-section {
	margin: 10px 0 5px 0;
}

textarea {
	width: 100%;
	font-family: monospace;
}

textarea#code {
	text-align:center; 
	font-weight:bold;
	color: darkgreen;
	min-height: 0;
	font-size: 120%;
	background: none;
	resize: none;
}

dt {
	font-weight: bold;
	margin-top: 10px;
}

dd {
	margin-left: 15px;
}

header h1 a {
	color: #181818;
	text-decoration:none;
}

header h1 a:hover {
	color: #181818;
	text-decoration:underline;
}

.comment {
	color: darkgrey;
	font-size: small;
	font-style: italic;
	margin-bottom: 20px;
	padding: 6px 4px;
}

.short {
	width: 50%;
}

/* Code style for verifify page */
table {
	margin-bottom:10px;
	table-layout: fixed;
	width: 100%
}
td, th {
	border:1px solid #ccc;
	word-wrap: break-word;
	width:25%;
	padding:4px;
}
th {
	font-weight:bold;
}
.valid, .invalid {
	background: red;
	color: white;
	padding: 0 2px;
	margin: 0 2px;
	border-radius: 2px;
	font-family: monospace;
}
.valid {
	background: green;
}

/* Header h1 */
header > h1 {
	margin-top: 40px;
	padding-bottom: 10px;
}

/* Tabs */
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	cursor: pointer;
	padding: 0px 21px ;
	height: 31px;
	line-height: 31px;
	border: 1px solid #ccc;
	border-left: none;
	font-weight: bold;
	background: #EEEEEE;
	overflow: hidden;
	position: relative;
}
ul.tabs li:hover {
	background: #CCCCCC;
}	
ul.tabs li.active{
	background: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
.tab_container {
	border: 1px solid #ccc;
	border-top: none;
	clear: both;
	float: left; 
	width: 100%;
	background: #FFFFFF;
	margin-bottom:20px;
}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
	display: none;
}

.danger {
	background-color: maroon;
	color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
.danger h1, .danger h2, .danger h3, 
.danger h4, .danger h5, .danger h6 {
	color: white;	
}

