/**
 * LAYOUT
 */

header a {
	color: #181818;
	text-decoration:none;
}
header a:hover {
	color: #181818;
	text-decoration:underline;
}
header nav a, header nav a:visited {
	color: #555555;
}
header {
	margin-top: 1em;
	position: relative;
}

nav > ul > li {
	float:right;
	font-weight: bold;
	font-size: 1.125em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	border-right: 1px solid #cccccc;
	margin:0;
	padding-bottom:0.30em;
}

nav > ul > li:first-child {
	border-right:none;
	padding-right:0.1em;
}

#containerMain {
	border-top: 1px solid #ccc; 
	padding-top:0;
	position:relative;
}

#leftColumnMain {
	position:relative;
	background: white;
	z-index: 1;
	-webkit-box-shadow: 5px 0px 5px -2px #888 ;
	box-shadow: 5px 0px 5px -2px #888 ;
	top:0;
	bottom:0;
	padding-top:2em;
}

#rightColumnMain {
	position:absolute;
	left:-10px;
	padding-left:20px;
	background:#eeeeee;
	z-index: 0;
	border:0.1em solid #bbbbbb;
	top:1em;
	bottom:1em;
	-webkit-box-shadow: 2px 2px 5px -2px #888;
	box-shadow: 2px 2px 5px -2px #888;
	padding-top:0.9em;
}

#rightColumnContainer {
	margin-right:30px;
}

#footerDiv {
	border-top: 1px solid #DDD;
	padding-top:10px;
}

/**
 * ...
 */


textarea {
	width: 100%;
	font-family: monospace;
}

textarea#code {
	text-align:center; 
	font-weight:bold;
	color: darkgreen;
	min-height: 0;
	font-size: 120%;
	background: none;
	resize: none;
}

textarea#associatedURLs {
	width:92%;
}


textarea#generatedHTMLCode {
	font-family: monospace;
	resize:none;
	height:15em;
}

/**
 * ...
 */

.section-begin {
	font-size: 110%;
	font-weight: bold;
}

dt {
	font-weight: bold;
	margin-top: 10px;
}

dd {
	margin-left: 15px;
}

.comment {
	color: darkgrey;
	font-size: small;
	font-style: italic;
	margin-bottom: 20px;

}

.short {
	width: 50%;
}

/* Code style for verifify page */
table {
	margin-bottom:10px;
	table-layout: fixed;
	width: 100%
}
td, th {
	border:1px solid #ccc;
	word-wrap: break-word;
	width:25%;
	padding:4px;
}
th {
	font-weight:bold;
}
.valid, .invalid {
	background: red;
	color: white;
	padding: 0 2px;
	margin: 0 2px;
	border-radius: 2px;
	font-family: monospace;
}
.valid {
	background: green;
}



/* Tabs */
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	cursor: pointer;
	padding: 0px 21px ;
	height: 31px;
	line-height: 31px;
	border: 1px solid #ccc;
	border-left: none;
	font-weight: bold;
	background: #EEEEEE;
	overflow: hidden;
	position: relative;
}
ul.tabs li:hover {
	background: #CCCCCC;
}	
ul.tabs li.active{
	background: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
.tab_container {
	border: 1px solid #ccc;
	border-top: none;
	clear: both;
	float: left; 
	width: 100%;
	background: #FFFFFF;
	margin-bottom:20px;
}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
	display: none;
}

.danger {
	background-color: maroon;
	color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
.danger h1, .danger h2, .danger h3, 
.danger h4, .danger h5, .danger h6 {
	color: white;	
}

.adjacent, input.adjacent {
	display: inline-block;
	vertical-align: bottom;
}

.adjacent + input.adjacent {
	margin-left: 2em;
}

.adjacent + a.adjacent {
	margin-left: 1em;
}

.help {
	padding-bottom: 0.25em;
}

.help:hover {
	cursor: help;
}



#generate #nav_generate a, #verify #nav_verify a, #admin #nav_admin a,
#generate #nav_generate a:hover, #verify #nav_verify a:hover, #admin #nav_admin a:hover {
	color: #181818;
    pointer-events: none;
    cursor: default;
}



/* Autocomplete box in index.php */

.ui-autocomplete {
    max-height: 15em;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 15em;
  }
