@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  padding:50px;
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

.wrapper {
  width:700px;
  margin:0 auto;
}

hr {
 border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

label {
	font-style: italic;
}

fieldset, legend {
  border: 1px dotted #000;
  background:#e5e5e5;
}

legend {
  font-weight: 600;
}

input {
	background:white;
}

#generatedHTMLCode {
	-webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
	    -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
	    box-shadow: inset 2px 2px 2px 0px #dddddd;
	overflow:auto;
	margin: 10px;
	    overflow: auto;
	    padding: 7px 10px;
	font-family: monospace;
}